
<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  list-style:none;
}

li a{
  display: block;
  font-family: 'Cinzel', serif; 
  font-size: 25px;
  float: right;
  padding: 8px;
  color: #151442
  border-image: url("/static/border_image.jpg") 10% round;
  list-style:none;
  
}
</style>
</head>
<body>
<html>
<body>
<ul>
  <li><a href= "/">Home</a></li>
  <li><a href= "/contact">Contact</a></li>
  <li><a href= "/prices">Prices</a></li>
  <li><a href= "/projects">Projects</a></li>
  <li><a href= "/directory">Directory</a></li>
  <li><a href= "/about">About</a></li>
  <li><a href= "/quote">Quote</a></li>
  <li><a href= "/updates">Updates</a></li>
</ul>
</body>
</html>
